@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
:root{
    --mainBackground:hsl(222, 26%, 31%);
    --calcBackground:hsl(223, 31%, 20%);
    --screenBackground:hsl(224, 36%, 15%);
    --equalBackgroundColor:hsl(6, 63%, 50%);
    --equalShadowColor:hsl(6, 70%, 34%);
    --clearBackgroundColor:hsl(225, 21%, 49%);
    --clearShadowColor:hsl(224, 28%, 35%);
    --clearTextColor: white;
    --numberKeysFontColor:hsl(221, 14%, 31%);
    --numberOperatorBackgroundColor:hsl(30, 25%, 89%);
    --numberOperatorShadowColor:hsl(28, 16%, 65%);
    --displayFontColor:white;
    --hoverBackgroundColor:hsl(221, 14%, 31%);
    --hoverTextColor:white;
    --hoverOperatorShadow:hsl(217, 15%, 49%);
    --equalsFontColor:white;
}



html[data-theme="white"]{
    --mainBackground:hsl(0, 0%, 90%);
     --calcBackground:hsl(0, 5%, 81%);
    --screenBackground: hsl(0, 0%, 93%);
    --equalBackgroundColor: hsl(25, 98%, 40%);
    --equalShadowColor:hsl(25, 99%, 27%);
    --clearBackgroundColor: hsl(185, 42%, 37%);
    --clearShadowColor: hsl(185, 58%, 25%);
    --clearTextColor: white;
    --numberKeysFontColor:hsl(60, 10%, 19%);
    --numberOperatorBackgroundColor:hsl(45, 7%, 89%);
    --numberOperatorShadowColor:hsl(35, 11%, 61%);
    --displayFontColor:black;
    --hoverBackgroundColor:hsl(0, 5%, 81%);
    --hoverTextColor:hsl(60, 10%, 19%);
    --hoverOperatorShadow:hsl(0, 8%, 70%);
     --equalsFontColor:white;
    
}

html[data-theme="purple"]{
    --mainBackground:hsl(268, 75%, 9%);
    --calcBackground: hsl(268, 71%, 12%);
    --screenBackground:  hsl(268, 71%, 12%);
    --equalBackgroundColor: hsl(176, 100%, 44%);
    --equalShadowColor:hsl(177, 92%, 70%);
    --clearBackgroundColor: hsl(281, 89%, 26%);
    --clearShadowColor:  hsl(285, 91%, 52%);
    --clearTextColor: white;
    --equalsFontColor:hsl(198, 20%, 13%);
    --numberKeysFontColor:hsl(52, 100%, 62%);
    --numberOperatorBackgroundColor: hsl(268, 47%, 21%);
    --numberOperatorShadowColor:hsl(290, 70%, 36%);
    --displayFontColor:hsl(52, 100%, 62%);
     --hoverBackgroundColor:hsl(52, 100%, 62%);
    --hoverTextColor:hsl(268, 38%, 40%);
    --hoverOperatorShadow:hsl(268, 100%, 57%);
     --equalsFontColor:hsl(268, 71%, 12%);
}


html{
    background-color: var(--mainBackground);
}

.App{
    background-color:var(--mainBackground);
}

.calculator-wrapper{
    width:90%;
    margin:auto;
    
}

.btns-container{
    background-color: var(--calcBackground);
    width:70%;
    margin:auto;
    padding:20px;
    border-radius: 5px;
}

.btn-wrapper{
   
    
    height:380px;
    margin:auto;
    display:flex;
    justify-content:center;
}

.btn-container{
    width:100%;
    margin:auto;
}


.number-btns{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    
}

#del{
    background-color:var(--clearBackgroundColor);
    border:none;
    font-size:1.2rem;
    font-weight:700;
    color:var(--clearTextColor);
     -webkit-box-shadow: 0px 3.5px 2px -1px var(--clearShadowColor); 
    box-shadow: 0px 3.5px 2px 0px var(--clearShadowColor);
}

.numbers-operators{
    background-color:var(--numberOperatorBackgroundColor);
    box-shadow: 0px 3.5px 2px 0px var(--numberOperatorShadowColor);
    color:var(--numberKeysFontColor);
    font-weight:700;
    font-size:32px;
    border:none;
}

.numbers-operators:hover{
 
    background-color:var(--hoverBackgroundColor);
    color:var(--hoverTextColor);
    /* font-size:30px; */
    box-shadow: 0px 3.5px 2px 0px var(--hoverOperatorShadow);
}



.res-and-equal-btns{
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    /* padding:10px 0; */
}



#display{
    width:70%;
    background-color:var(--screenBackground);
    color:var(--displayFontColor);
    margin:0 auto;
    margin-bottom:15px;
    height:90px;
    display:flex;
    padding:15px;
    justify-content:flex-end;
    align-items: center;
    flex-flow:row nowrap;
    overflow:hidden;

}

.display-text{
    text-align:right;
    font-size:32px;
    font-weight:700;
}

.boot-btn{
    border:none;
    height:50px;
}

.boot-btn:hover{
    cursor: pointer; 
    border-bottom:2px solid grey;
}



.reset-and-equal{
     width:50%;
    margin:auto;
    text-align:center;
    font-family: 'Spartan';
   font-size:1rem;
}

.equals{
    background-color: var(--equalBackgroundColor);
    color:var(--equalsFontColor);
    border:none;
    border-radius:5px;
    -webkit-box-shadow: 0px 3.5px 2px -1px var(--equalBackgroundColor); 
box-shadow: 0px 3.5px 2px 0px var(--equalShadowColor);
}

.clear{
    padding:10px;
     background-color: var(--clearBackgroundColor);
     color:var(--clearTextColor);
     border:none;
     border-radius:5px;
    -webkit-box-shadow: 0px 3.5px 2px -1px var(--clearShadowColor); 
    box-shadow: 0px 3.5px 2px 0px var(--clearShadowColor);
    
}


@media screen and (max-width:750px){
    

    #display, .calculator-wrapper, .btns-container{
        width:95%;
    }
   

    
}

@media screen and (max-width:1024px){
    

    #display, .calculator-wrapper, .btns-container{
        width:100%;
    }
   

    
}